---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  llvm-include-order,
  llvm-namespace-comment,
  misc-misleading-identifier,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-non-copyable-objects,
  misc-throw-by-value-catch-by-reference,
  modernize-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type,
  -modernize-use-nullptr,

