---
Checks: >
  *,

  -altera-id-dependent-backward-branch,
  -altera-unroll-loops,

  -fuchsia-*,
  -linuxkernel-*,

  -llvm-*,
  llvm-include-order,
  llvm-namespace-comment,

  -llvmlibc-*,

  -portability-avoid-pragma-once
